  <div class="col-md-4">
    <div class="teacher-tile">
      <img class="img-responsive img-circle teacher-img" src="{{teacher.image}}">
      <h3>{{teacher.name}}</h3>
        {{teacher-profile teacher=teacher}}
    </div>
  </div>





{{yield}}
