{{outlet}}
<div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-left">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p class="text-left">We are a team of Epicodus students who wanted a way to help parents find a daycare center for their child. There was no other alternative on the web so we decided to create DaycareShare to make it just a little bit easier to find someone they can trust to look after their child.</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-left">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://thewallmachine.com/files/1338869230.jpg" alt="">
                <h3>Janice Laset-Parkerson
                    <small>Engineer</small>
                </h3>
                <p>Janice is the chief architect of the Google Search integration.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://pp.vk.me/c619923/v619923577/20dde/MS23H7EkV2U.jpg" alt="">
                <h3>Aileen Cacayorin
                    <small>Sr. Developer</small>
                </h3>
                <p>Aileen is the woman behind the site's navigation, functionality, and login.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://ajmartinezauthor.com/wp-content/uploads/2014/06/Arya-Stark-arya-stark-31335129-700-466-640x426-200x200.png" alt="">
                <h3>Jing Wait
                    <small>Project Manager</small>
                </h3>
                <p>Jing is the lead software engineer in charge of User Experience &amp; Design.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/80/00/06/8000065194ce8983599a846171b946e0.jpg" alt="">
                <h3>Brian Lau
                    <small>Chief Executive</small>
                </h3>
                <p>Brian is the heart &amp; soul of the organization, providing inspiration to the team.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://bvslondon.co.uk/wp-content/uploads/2014/07/BVSHiring-e1420637592524.jpg" alt="">
                <h3>We're Hiring
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://bvslondon.co.uk/wp-content/uploads/2014/07/BVSHiring-e1420637592524.jpg" alt="">
                <h3>We're Hiring
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>
      </div>
