
<header>
  <div class="container">
    <div class="intro-text">
          <div class="intro-heading">Welcome to DaycareShare</div>
          <div class="intro-lead-in">Find a daycare near you</div>
      
    </div>
  </div>
</header>




<div class="container">
  {{google-map daycare=model}}
</div>
{{outlet}}
