<!--
  <header>

    <div class="intro-text">
          <div class="intro-heading">Welcome to <span id='daycare-header'>Daycare</span><span id='share-header'>Share </span><</div>
          <div class="intro-lead-in">Find a daycare near you</div>

    </div>
  </header> -->






<div class="container">
  {{google-map daycare=model}}
</div>
{{outlet}}
